html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

main {
	display: flex;
	height: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#list-pane {
	width: 280px;
}

#listview-items {
	height: calc(100vh - 66px);
	background-color: #f6f6f6;
	overflow-y: scroll;
}

#listview {
	padding: 0 16px;
}

#listview-bar {
	display: flex;
}

#search {
	width: 100%;
	border: none;
	padding: 22px;
	font-size: 19px;
	top: 0;
}

#search:focus {
	outline: none;
}

/** { border: 1px solid #000; }*/

#hamburger {
	color: #777;
	font-size: 26px;
	padding: 0 16px;
	padding-top: 12px;
	margin: 0;
	cursor: pointer;
}

#hamburger:hover {
	color: #d1739b;
}

.location {
	list-style-type: none;
	padding: 10px 0;
}

.location:hover {
	color: #7d46d6;
	cursor: pointer;
}

.map-error {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

